* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 18px 50px;
    gap: 20px;
    background-color: white;
}

.header-top {
    background-color: #e8999f;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 200;
}

.logo img {
    width: 145px;
}

.menu nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.menu a {
    font-family: sans-serif;
    color: #009d96;
    text-decoration: none;
}

.usuario {
    display: flex;
    gap: 15px;
}

.usuario svg {
    width: 20px;
    color: #009d96;
}

.masterhead {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/sk_fondo.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
}

.masterhead h3 {
    font-size: 12px;
    font-weight: 200;
}

.masterhead h1 {
    font-size: 20px;
}

.btnMaster {
    background-color: #e8999f;
    border: 1px transparent solid;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    padding: 15px 25px;
}

.btnMaster:hover {
    color:#e8999f;
    background-color: transparent;
    border: 1px #e8999f solid;
}

.flotante {
    background-color: #e8999f;
    border-radius: 120px;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}